@import 'bourbon';
@import 'neat';
@import "./bitters/base";

@mixin gradient($color){
  @include linear-gradient($color, darken($color,10%));
  a, a:hover {
    color:#000;
  }
}

$navBarColor:#9ce;
$sectionColor:#f8f8f8;

body {
  margin:0;
}
header {
  @include gradient($navBarColor);
  li{
    padding:.2em 1em .2em 1em;
    display:inline-block;
    &.active {
      background-color:$sectionColor;
    }
  }
}

section {
  background-color:$sectionColor;
  padding:2em;
  min-height:100vh;
}

nav > a {
  display:block;
}